<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Search</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a href="/" class="list-group-item list-group-item-action active">Home</a>
                    <a href="/search" class="list-group-item list-group-item-action">Search</a>
                    <a href="/filter_cars" class="list-group-item list-group-item-action">Filter Cars</a>
                </div>
            </div>
            <div class="col-9">
                <h1 class="text-center">Car finder</h1><br>
                <h3 class="text-center">Welcome to the car finding application. Use the menu to navigate to different sections.</h3><br>
                <p class="text-center">Project Description The goal of the project was to create a web application that allows users to browse and filter car data available on the otomoto.pl platform. The application uses Flask as the web framework, SQLite as the database, and Docker for container management. A parser built using BeautifulSoup collects data from the external site and stores it in the database.</p>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
